<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".KnAApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KnA"
        tools:targetApi="31">
        
        <!-- Login Activity - Entry Point -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.KnA.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Register Activity -->
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.KnA.NoActionBar" />
        
        <!-- Main Activity (Dashboard with Bottom Navigation) -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.KnA.MainActivity" />
        
        <!-- Question Detail Activity -->
        <activity
            android:name=".ui.question.QuestionDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Theme.KnA" />
        
        <!-- Ask Question Activity -->
        <activity
            android:name=".ui.question.AskQuestionActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Theme.KnA" />
        
        <!-- Admin Panel Activity -->
        <activity
            android:name=".ui.admin.AdminPanelActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Theme.KnA" />

        <!-- File Provider for image sharing -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
